<?xml version="1.0"?>
<!--
/**
 * @author AC Tecnology Team (https://actecnology.com/ ó https://arturocabrera.com/)
 * Copyright ©  All rights reserved.
 * Dev: Arturo Cabrera
 * mail: arturo.actecnology@gmail.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Actecnology_AdminMenu::ac_menu_admin" title="AC Tecnology" translate="title" sortOrder="10">
                    <resource id="Actecnology_AdminMenu::actecnology_configuration" title="Configuration" translate="title" sortOrder="99"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
