<?xml version="1.0"?>
<!--
/**
 * @author AC Tecnology Team (https://actecnology.com/ ó https://arturocabrera.com/)
 * Copyright ©  All rights reserved.
 * Dev: Arturo Cabrera
 * mail: arturo.actecnology@gmail.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <!--
            Pestaña compartida en Stores > Configuration. Los módulos de AC Tecnology
            declaran sus secciones con <tab>actecnology</tab> para agruparse aquí.
        -->
        <tab id="actecnology" translate="label" sortOrder="300">
            <label>AC Tecnology</label>
        </tab>
    </system>
</config>
